/* ---------- Intro Container ---------- */
.container-intro {
  text-align: start;
  padding-top: 140px;
}

#underscore {
  width: 40px;
  height: 5px;
  background-color: black;
}

#web-developer {
  letter-spacing: -2px;
  font-size: 5rem;
  font-weight: 400;
  padding-left: 0;
  font-family: 'Exo 2', sans-serif;
  color: #14e956;
  text-shadow: 0px 0px 5px #14e956;
  line-height: 0.7;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#based-in-amsterdam {
  margin: 0;
  letter-spacing: -4px;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: italic;
}

/* ---------- Sections Containers  ---------- */

section {
  margin-top: 8rem;
}

.section-content {
  display: flex;
}

.content-left {
  display: none;
}

.content-right {
  width: 100%;

  h5 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.section-number {
  display: none;
}

/*  ---------- Education Section  ---------- */

.module-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.vertical-line {
  width: 1.5px;
  height: 100%;
  background-color: #c12921;
  margin-right: 25px;
}

.vertical-line-orange {
  width: 1.5px;
  height: 100%;
  background-color: #ffa101;
  margin-right: 25px;
}

/*  ---------- Projects Section  ---------- */

.triplink-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.triplink-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 1rem;
}

.triplink-container-left-phones {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.triplink-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 1rem
}

.triplink-container-right-phones {
  display: flex;
  justify-content: space-between;
  height: 100%;
}





/*  ---------- Scroll Bar  ---------- */
.scroll-bar {
  padding-top: 75px;
  display: flex;
  align-items: center;

  p {
    padding-left: 1rem;
  }
}

.scroll-bar-intro {
  padding-top: 100px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.github-linkedin {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;

}

.github-linkedin i {
  margin-right: 0.5rem;
  margin-left: 1rem;
}


/* ----------- Media queries for responsiveness ----------- */
@media (min-width: 500px) {
  .content-left {
    display: flex;
    width: 25%;
  }

  .content-right {
    width: 75%;
  }

  .section-number {
    display: inline;
  }

  #web-developer {
    line-height: 1;
  }

  #underscore {
    margin-bottom: -20px;
  }

  .triplink-container {
    flex-wrap: nowrap;
    gap: 0;
    margin-top: 2rem;
  }

  .triplink-container-left {
    margin-right: 1.5rem;
  }

  .triplink-container-right {
    margin-left: 1.5rem;
  }

  .break {
    display: none;
  }

  @media (min-width: 900px) {}
}
