/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Importing all components CSS files */
@import url("components/buttons.css");
@import url("components/dividers.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/header.css");
@import url("components/images.css");
@import url("components/section-title.css");

/* Importing all pages CSS files */
@import url("index.css");


/* ---------- Colours ----------- */
:root {
  --color-background: #F3FBF4;
  --color-green: #14e956;
  --color-green-soft: #1EDD88;
  --color-dark: #342C33;
  --color-red: #c12921;
  --color-orange: #ffa101;
  --color-gold: #f1c578;
  --color-footer: #2c2b2b;
  --color-grey: #6B6C6C;
}

/* ---------- General styles ----------- */
body {
  height: 100%;
  background: var(--color-background);
  font-family: 'Roboto Mono', sans-serif;
}

@media (max-width: 575.98px) {
  #main-content {
    --bs-gutter-x: 2rem;
  }
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.spaced {
  text-align: justify;
  text-justify: inter-character;
}

.end {
  justify-content: end;
}
