/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Importing all components CSS files */
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/header.css");
@import url("components/images.css");
@import url("components/section-title.css");

/* Importing all pages CSS files */
@import url("pages/index.css");


/* ---------- General style ----------- */
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Mono', sans-serif;
  max-width: 1200px;
  min-height: 100vh;
}

.website-content {
  margin-left: 20px;
  margin-right: 20px;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border-radius: 1rem;
}

.spaced {
  text-align: justify;
  text-justify: inter-character;
}
