/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Importing all components CSS files */
@import url("components/buttons.css");
@import url("components/dividers.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/header.css");
@import url("components/images.css");
@import url("components/section-title.css");

/* Importing all pages CSS files */
@import url("index.css");



/* ---------- General style ----------- */
body {
  height: 100%;
  background: #F3FBF4;
  font-family: 'Roboto Mono', sans-serif;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

.website-content {
  margin-left: 20px;
  margin-right: 20px;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.spaced {
  text-align: justify;
  text-justify: inter-character;
}

.end {
  justify-content: end;
}

/* ---------- Colors ----------- */
html {
  color: #14e956;
  color: #c12921;
  color: #1EDD88;
  color: #ffa101;
}
