.tech-stack {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  gap: 1rem;
}

.tech {
  border: 0.1rem solid #342C33;
  padding: 1rem 1.6rem;
  box-shadow: 0.05rem 0.1rem 0 #342C33;
  border-radius: 1rem;
  gap: 1rem;
}
