.tech-stack {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  gap: 1rem;
}

.tech {
  border: 0.1rem solid var(--color-dark);
  padding: 1rem 1.6rem;
  box-shadow: 0.05rem 0.1rem 0 var(--color-dark);
  border-radius: 1rem;
  gap: 1rem;
  transition: color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

.tech:hover {
  color: var(--color-dark);
  border-color: var(--color-green-soft);
  box-shadow: 0.2rem 0.25rem 0 var(--color-green-soft);
  transform: translate(-2px, -2px);
}
