/* ---------- Intro Container ---------- */
.container-intro {
  text-align: start;
  padding-top: 150px;
}

#underscore {
    width: 40px;
    height: 5px;
    background-color: black;
}

#web-developer {
  letter-spacing: -2px;
  font-size: 5rem;
  font-weight: 400;
  padding-left: 0;
  font-family: 'Exo 2', sans-serif;
  color: #14e956;
  text-shadow: 0px 0px 5px #14e956;
  line-height: 0.7;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#based-in-amsterdam {
  margin: 0;
  letter-spacing: -4px;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: italic;
}

/* ---------- Sections Containers  ---------- */

.container-section {
  margin-top: 8rem;
}

.container-section-content {
  display: flex;
}

.content-left {
  display: none;
}

.center {
  justify-content: end;
}

.content-right {
  width: 100%;
  h2 {
    text-decoration-line: underline;
    text-decoration-color: #1EDD88;
  }
  h5 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.section-number {
  display: none;
}

/*  ---------- Education Section  ---------- */

.module-title {
  display: flex;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  h4 {
  padding-left: 1rem;
  }
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: #1EDD88;
  margin-right: 25px;
}

/*  ---------- Projects Section  ---------- */

.triplink-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  background-color: #a8e0ba;
  border-radius: 1rem;
  padding: 1rem;
}

/*  ---------- Scroll Bar  ---------- */
.scroll-bar {
  padding-top: 50px;
  display: flex;
  align-items: center;
  p {
    padding-left: 1rem;
    }
}

.scroll-bar-intro {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.scroll-bar-left {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  p {
  padding-left: 1rem;
  }
}

.scroll-bar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  p {
    padding-left: 0.3rem;
    padding-right: 1rem;
    }
}
